
*, *::before, *::after {
    box-sizing: inherit;
}

* {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    text-align: center;
}

html {
    box-sizing: border-box;
}

:visited {
    color: rgb(161, 161, 139);
}

a:hover {
    text-decoration: underline;
    zoom: 120%;
    color: black;
    rotate: 5deg;
}

a {
    color: grey;
    text-transform: capitalize;
}

p {
    padding: 0 3.5%;
}

header, footer{
    background: rgb(11,136,196);
    background: linear-gradient(180deg, rgba(11,136,196,1) 30%, rgba(33,202,224,1) 75%, rgba(0,212,255,1) 100%);    padding: 3%;
    color: white;
}

header li, footer li {
    background-color: beige;
    border: 5px;
    padding: 5px 0px;
    display: block;
}

body {
    padding: 20px;
}

ul {
    margin-left: -40px;
}

img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 2.5px 5px 10px rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 30px;
    padding-bottom: 50px;
}

footer ul {
    color: grey;   
}

footer li:first-child {
    float: left;
}

footer li:nth-child(2) {
    float: right;
}


.profile-picture {
    width: 75%;
}

#portfolio {
    padding: 25px;
    clear: both;
}












/* Media Queries */

@media screen and (min-width: 768px) {
    main li {
        display: inline-block;
    }

    body li {
        width: 30%;
        padding: 5px;
        margin: 5px;
    }

    nav li {
        display: inline-block;
        padding: 0px 2em;
    }

    header {
    }

    .profile-picture {
        width: 43%;
        float: right;
        margin: 20px;
        padding: 30px;
    }

    header p {
        padding: 100px;
    }


}

@media screen and (min-width: 1024px) {


}